@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <h1 class="mb-4">System Klientów</h1>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="d-grid gap-3">
                <a href="@Url.Action("Index", "Klienci")" class="btn btn-success btn-lg">Lista Klientów</a>
                <a href="@Url.Action("Import", "Klienci")" class="btn btn-success btn-lg">Import</a>
                <a href="@Url.Action("Export", "Klienci")" class="btn btn-success btn-lg">Eksport</a>
            </div>
        </div>
    </div>
</div>